/* Responsive two-column layout*/
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

@media only screen and (max-width: 800px) {
  .container {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}

.side {
  width: 50%;
  height: 100vh;
  flex-grow: 1;
}

@media only screen and (max-width: 800px) {
  .side {
    width: 100%;
    min-height: 100vh;
  }
}

.left {
  background: #F2F2F2  url('../../assets/bg1.png') no-repeat center center;
  background-size: cover;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
  .left {
    min-height: 100vh;
 }
}

.right {
  background: #FFFFFF;
  padding: 0 50px 0 50px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .right {
     -webkit-overflow-scrolling: touch;
 }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) and (orientation: landscape) {
  .right{
    -webkit-overflow-scrolling: touch;
 }
}

@media only screen and (max-width: 420px) {
  .right {
    padding: 0 20px 0 20px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
  .container .right,  .container .left{
    -webkit-overflow-scrolling: touch;
  }
}

/* App Icon */
.icon {
	padding: 50px 0 0 0;
  text-align: left;
}

.app-icon {
  width: 50px;
  height: 50px;
}

/* Introduction */
.introduction .text {
  padding-top: 100px;
  text-align: left;
}

@media only screen and (max-width : 800px) {
  .introduction .text {
    padding-top: 50px;
    text-align: left;
  }
}

.introduction .text h4 {
	font-size: 14px;
	font-weight: 600;
	color: #A1A1A1;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 1.2;
	margin: 0 0 20px 0;
}

.introduction .text h1 {
	font-size: 42px;
	font-weight: 600;
	color: #6603C9;
	letter-spacing: -2px;
	line-height: 1.2;
	margin: 0 0 15px 0;
}

@media only screen and (max-width : 800px) {
  .introduction .text h1 {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media only screen and (max-width: 420px) {
  .introduction .text h1 {
    font-size: 34px;
    line-height: 1.1;
  }
}

.introduction .text p {
	font-size: 16px;
	font-weight: 400;
	color: #A1A1A1;
	letter-spacing: 0px;
	line-height: 1.5;
	margin: 0 0 20px 0;
}

@media only screen and (max-width : 800px) {
  .intro .intro-text p {
    font-size: 16px;
  }
}

.introduction .text h3 {
	font-size: 16px;
	font-weight: 600;
	color: #434343;
	text-transform: uppercase;
	letter-spacing: 0;
	line-height: 1.2;
	margin: 50px 0 30px 0;
}

/* Images */
.image-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.image {
  width: 150px;
  margin: 0 15px 5px 0;
}

.image:hover {
	opacity: 0.9;
}

@media only screen and (max-width: 420px) {
  .image {
    width: 110px;
  }
}